@import '~bootstrap/scss/bootstrap';

body {
  background-color: #f4f7f6;
}

.modal {
  text-align: center;
}

.filter-column {
  border-right: solid 1px grey;
  height: 800px;
  margin-top: 50px;
  text-align: center;
  width: 50%;
}

.favorite-recipe {
  background-color: transparent;
  border: none;
}

.modal-header {
  border: none;
  background-color: #254e58;
  color: #effce8;
}

.close {
  color: #effce8;
}

.modal-body {
  border: none;
  background-color: #254e58;
  color: #effce8;
  padding: 5px;
}

.submit-button {
  background-color: #49c5b6;
  color: #fff;
  border: #effce8 1px solid;
  border-radius: 3px;
}

.btn-5 {
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  background-color: #49c5b6;
  color: #effce8;
  outline: 3px solid;
  outline-color: #effce8(255, 255, 255, .5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  height: 50px;
  width: 100px;
  font-size: 20px;
}

.btn-5:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  background-color: darken(#49c5b6, 5%);
  color: #effce8;
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #892a18;
}

.main-panel {
  height: 1000px;
  width: 90%;
  margin: 30px auto;
  background: linear-gradient(90deg, rgba(144,194,195,1) 0%, rgba(167,211,209,.8) 50%, rgba(144,194,195,1)  100%);
  color: #effce8;
}

.find-title {
  margin-bottom: 45px;
  text-align: center;
}

.index-recipes {
  display: flex;
  justify-content: center;
}

.main-column {
  width: 50%
}

li {
  color: darkgray;
}

#sign-in-screen {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0;
  background: linear-gradient(90deg, rgba(144,194,195,1) 0%, rgba(167,211,209,.8) 50%, rgba(144,194,195,1)  100%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.welcome {
  text-align: center;
  margin-bottom: 45px;
  color: #effce8;
}
.nav-bar {
  background-color: #254e58;
  display: block;
  height: 70px;
  text-align: center;
}

.nav-bar-buttons {
  position: absolute;
  top: 13px;
  right: 12px;
}

.title {
  margin: auto;
  background-color: #254e58;
}

.modal-content {
  background-color: #254e58;
  width: 800px;
  padding: 25px;
}

.nav-button {
  border: none;
  margin-left: 10px;
  margin-right: 10px;
  padding: 7px;
  padding-left: 13px;
  padding-right: 13px;
}

.create-a-recipe {
  text-align: center;
  padding: 30px;
}

.form-fields {
  display: flex;
  justify-content: center;
}

.form-fields-group {
  width: 30%;
}

.recipe-name, .calories, select, textarea {
  height: 33px;
  padding-left: 10px;
  width: 100%;
}

textarea {
  height: 129px;
  padding-top: 8px;
}

.cr-inputs {
  margin: 30px
}

#after-sign-in {
  display: none;
}

.nav-tabs {
  background-color: #254e58;
  border-bottom: none;
}

#success-sign-in-messaging {
  position: absolute;
  top: 13px;
  left: 12px;
  color: #effce8;
}

#sign-out-messaging, #sign-up-messaging #change-password-messaging {
  margin: 30px;
  color: #effce8;
}

.nav-tabs>li>a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  color: white;
  text-decoration: none;
}

.nav-tabs .active  {
  background-color: #b7dad833;
  color: white;
}

.nav>li>a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.search-icon {
  height: 30px;
  width: 30px;
  margin: 0;
}

a {
  color: #337ab7;
  text-decoration: none;
  background-color: transparent;
}

a:-webkit-any-link {
  cursor: pointer;
  text-decoration: underline;
}

.open-recipe-button {
  border: none;
  background-color: transparent;
  color: #4f6076;
  font-size: 27px;
}

.filtered-recipes {
  margin-top: 50px;
}

.open-recipe-button:hover {
  border: none;
  background-color: transparent;
  color: #ebfae7;
  font-size: 27px;
}

#recipes-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // overflow: scroll;
  height: 600px;
}

#recipes-list, #favorite-recipes-list {
  list-style-type: none;
  margin: auto;
}

#fav-tab-title {
  text-align: center;
}

#update-form {
  display: none;
}

input, textarea, select {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input, select {
  height: calc(1.5em + 0.75rem + 2px);
}

.delete-button {
  float: right;
}

.update-button {
  float: right;
}

.favorites-container {
  display: flex;
  justify-content: center;
}

.submit-recipe {
  background-color: #49c5b6;
  color: #fff;
  border: #effce8 1px solid;
  border-radius: 3px;
  height: 33px;
  width: 150px;
}

.input-title {
  color: #44575c;
}

#favorite-button {
  background-color: transparent;
  border: none;
  height: 40px;
  width: 40px;
}

.not-favorite {
  background-image: url("../../public/star-4-24.png");
  background-repeat: no-repeat;
  background-position: center;
}

.favorite {
  background-image: url("../../public/star-24.png");
  background-repeat: no-repeat;
  background-position: center;
}

.search-area {
  display: flex;
  justify-content: center;
}

#search-bar {
  background-image: url("../../public/search-9-16.png");
  background-repeat: no-repeat;
  background-position: 10px;
  height: 33px;
  padding-left: 33px;
  margin-bottom: 15px;
  width: 47%;
}

.search-button {
  height: 33px;
  margin-left: 10px;
  padding: 2px 15px;
}

.search-text {
  font-size: 24px;
  margin: 20px 0;
  margin-left: 47%;
  text-align: left;
}

.filter-select {
  margin: 10px 0;
  width: 60%;
}

.filter-button {
  height: 33px;
  margin-top: 20px;
  width: 120px;
}

.recipe-img {
  height: 150px;
  width: 250px;
}

.page-title {
  font-family: 'Oswald', sans-serif;
  color: #effce8;
  font-weight: 500;
  padding: 10px;
}

.delete-button, .update-button {
  background-color: transparent;
  border: none;
}

.recipe-info {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.favorite-title {
  display: none;
}

.update-input-section {
  justify-content: space-around;
}

.update-input-section .cr-inputs {
  margin: 0;
  margin-bottom: 25px;
  width: 100%;
}

.update-inputs {
  width: 45%;
}

#recipe-modal-title {
  position: absolute;
}

.modal-header {
  justify-content: center;
}

.recipe-info-top {
  margin-right: 50px
}

.modal-dialog {
  max-width: 800px;
  margin: auto;
  margin-top: 50px;
}
